.logo {
    position: absolute;
    top: 7rem;
    overflow: hidden;
    width: 200px;
    height: auto;
    transition: 1s all;
    @include respond('ipad') {
        width: 400px;
    }

    &.right {
        opacity: 0.3;
        right: 0;
        transform: translateX(100%) rotate(180deg);
        transition: rotate 1.5s, translate 1s;
    }
    &.left {
        left: 0;
        transform: translateX(-200%) rotate(-180deg);
        transition: rotate 1.5s, translate 1s;
        opacity: 0.3;
    }
}

.loaded {
    & .logo {
        &.in-viewport {
            &.left {
                transform: translateX(-35%);
                opacity: 1;
            }
            &.right {
                transform: translateX(65%);
                opacity: 0.3;
            }
        }
    }
}
