.app {
    & .boom {
        height: 3000px;
        width: 3000px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
        transform-origin: 0 0;
        will-change: transform;
        border-radius: 50%;
        z-index: 50;
        transition: transform 1s;
        transition-timing-function: ease-in-out;
        &__logo {
            opacity: 0;
            visibility: hidden;
            transition: 1s all;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 10rem;
            width: 10rem;
            z-index: 50;
        }
    }
    &.transition {
        & .boom {
            transform: scale(2) translate(-50%, -50%);
            &__logo {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.scan {
    &-leave-active {
        transition: 1s width;
        &:after {
            transition: 1s width;
        }
    }
    &-enter-active {
        transition: 1s width;
        &:after {
            transition: 1s width;
        }
    }
    &-leave-active,
    &-enter {
        &:after {
            width: 100% !important;
        }
    }
}

.slide {
    &-enter {
        &-active {
            animation: slide-in 10s ease-out forwards;
        }
    }
    &-leave {
        &-active {
            animation: slide-out 10s ease-out forwards;
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

@keyframes scanner {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    65% {
        transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(8px);
        opacity: 0;
    }
    95% {
        transform: translateX(-8px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}