/* Main typography settings */

/* ------------------ */

body {
    font-family: 'Roboto', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-feature-settings: 'liga' 0;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.6rem;
}

/* ------------------ */

/* h1 heading primary */

h1 {
    font-weight: 300;
    font-family: 'Techmeleon';
}

/* ------------------ */

/* h2 heading secondary */

h2 {
    font-weight: 300;
    font-family: 'Techmeleon';
}

/* ------------------ */

/* h2 heading secondary */

h3 {
    font-family: 'Techmeleon';
    font-weight: bold;
    font-size: 5rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
}
// background-image: linear-gradient(
//         rgba($color-background-dark, 0.99),
//         rgba($color-background-dark, 0.99)
//     ),
//     url('~static/background.jpg');
// background-repeat: no-repeat;
// background-attachment: fixed;
// background-position: center;
// background-size: 100vh;
/* ------------------ */

.biglink {
    font-size: 7rem;
    font-weight: bold;
    @include respond('ipad') {
        font-size: 14rem;
    }
}

.nav__slide__link,
.nav__contact.big {
    display: block !important;
    position: relative !important;
    top: none !important;
    left: none !important;
    font-size: 7rem !important;
    font-weight: bold !important;
}
